<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Review Page 3</title>
</head>
<body>
  <div class="box">
    <img class="review-logo" src="../public/logo3.png" />
    <h2>Leave your review on</h2>
    <a href="review link">
      <div class="buttons g">Google</div>
    </a>
    <a href="review link">
      <div class="buttons f">Facebook</div>
    </a>
  </div>
  <link rel="stylesheet" type="text/css" href="public/review.css" />
</body>
</html>
